In [1]:
# We will be using Pandas for reading al the relevant datasets.
import pandas as pd

In [11]:
# Here we read the data from the Energy Dataset
df = pd.read_excel('uncleanedData.xlsx', header=None)
# We make a time range

In [47]:
df.iloc[:,6].unique()

array([  nan, 2000., 2001., 2002., 2003., 2004., 2005., 2006., 2007.,
       2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015., 2016.,
       2017., 2018., 2019., 2020.])

In [57]:
df.iloc[:,1]

0                             NaN
1                      Bill Gates
2                   Larry Ellison
3                      Paul Allen
4                  Warren Buffett
5          Karl and Theo Albrecht
6             Al-Waleed bin Talal
7                S. Robson Walton
8                   Masayoshi Son
9                    Michael Dell
10                Kenneth Thomson
11                     Bill Gates
12                 Warren Buffett
13                     Paul Allen
14                  Larry Ellison
15         Karl and Theo Albrecht
16            Al-Waleed bin Talal
17                    Jim Walton*
18                   John Walton*
19              S. Robson Walton*
20                  Alice Walton*
21                  Helen Walton*
22                     Bill Gates
23                 Warren Buffett
24         Karl and Theo Albrecht
25                     Paul Allen
26                  Larry Ellison
27                    Jim Walton*
28                   John Walton*
29                  Alice Walton*
                  ...
183                    Jeff Bezos
184                    Bill Gates
185                Warren Buffett
186               Bernard Arnault
187               Mark Zuckerberg
188                Amancio Ortega
189                   Carlos Slim
190                  Charles Koch
191                    David Koch
192                 Larry Ellison
193                    Jeff Bezos
194                    Bill Gates
195                Warren Buffett
196               Bernard Arnault
197                   Carlos Slim
198                Amancio Ortega
199                 Larry Ellison
200               Mark Zuckerberg
201             Michael Bloomberg
202                    Larry Page
203                    Jeff Bezos
204                    Bill Gates
205    Bernard Arnault and family
206                Warren Buffett
207                 Larry Ellison
208                Amancio Ortega
209               Mark Zuckerberg
210                    Jim Walton
211                  Alice Walton
212              S. Robson Walton
Name: 1, Length: 213, dtype: object

In [67]:
yearList = []


for i in range(1,len(df.iloc[:,6].unique())):
    yearList.append([])

In [66]:
yearList

[[1],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

In [87]:
df.iloc[:,2][1][0:-8]

'$60.0'

In [90]:
df.iloc[:,1].unique()

array([nan, 'Bill Gates', 'Larry Ellison', 'Paul Allen', 'Warren Buffett',
       'Karl\xa0and\xa0Theo Albrecht', 'Al-Waleed bin Talal',
       'S. Robson Walton', 'Masayoshi Son', 'Michael Dell',
       'Kenneth Thomson', 'Jim Walton*', 'John Walton*',
       'S. Robson Walton*', 'Alice Walton*', 'Helen Walton*',
       'Karl Albrecht', 'Lakshmi Mittal', 'Carlos Slim', 'Ingvar Kamprad',
       'Bernard Arnault', 'Li Ka-shing', 'Sheldon Adelson',
       'Amancio Ortega', 'David Thomson', 'Mukesh Ambani', 'Anil Ambani',
       'Kushal Pal Singh', 'Oleg Deripaska', 'Theo Albrecht',
       'Carlos Slim\xa0& family', 'Eike Batista',
       'Christy Walton\xa0& family', 'Stefan Persson', 'Charles Koch',
       'David Koch', 'Liliane Bettencourt\xa0& family', 'Jim Walton',
       'Christy Walton', 'Liliane Bettencourt', 'Jeff Bezos',
       'Mark Zuckerberg', 'Michael Bloomberg', 'Larry Page',
       'Bernard Arnault\xa0and family', 'Alice Walton'], dtype=object)

In [93]:
df.iloc[:,1][i]

'S. Robson Walton'

In [95]:
df.iloc[:,1].unique()[7]

'S. Robson Walton'

In [104]:
for j in range(1,len(df.iloc[:,6].unique())):
    print(df.iloc[:,6].unique()[j])

2000.0
2001.0
2002.0
2003.0
2004.0
2005.0
2006.0
2007.0
2008.0
2009.0
2010.0
2011.0
2012.0
2013.0
2014.0
2015.0
2016.0
2017.0
2018.0
2019.0
2020.0

In [107]:
df.iloc[:,2][i][0:-8]

'$54.1\xa0'

In [109]:
BillionairsList = []

for j in range(1,len(df.iloc[:,6].unique())):
    for i in range(1,len(df.iloc[:,0])):
        for x in range(1,len(df.iloc[:,1].unique())):
            if df.iloc[:,1][i] == df.iloc[:,1].unique()[x]:
                yearList[j-1].append(df.iloc[:,2][i][0:-8])
            else:
                yearList[j-1].append(0)

In [111]:
len(yearList[0])

10440

In [99]:
finalDataset = pd.DataFrame.from_records(yearList)

In [102]:
finalDataset = finalDataset.T

In [103]:
finalDataset.to_csv('RichestPeople.csv',index=False)